In [12]:
#profile = {'name' : 'mike', 'fat' : 18.9, 'weight' : 178}
#profile = {'name' : 'bill', 'fat' : 8.5, 'weight' : 118}
profile = {'name' : 'art', 'fat' : 55.5, 'weight' : 350}


print(profile)

{'name': 'art', 'fat': 55.5, 'weight': 350}

In [13]:
import pandas as pd
profile_df = pd.DataFrame([profile])
profile_df

    fat name  weight
0  55.5  art     350

In [14]:
profiles_df = pd.read_csv('profiles.csv')
profiles_df

    fat  name  weight
0  18.9  mike     178
1   8.5  bill     118

In [15]:
profiles_df = profiles_df.append(profile_df)
profiles_df

    fat  name  weight
0  18.9  mike     178
1   8.5  bill     118
0  55.5   art     350

In [16]:
profiles_df.to_csv('profiles.csv', index=False)

In [ ]:
df[['name', 'date', 'sentment']]