In [1]:
x = 'mike'
x[2]

'k'

In [2]:
x[2] ='l'

TypeError: 'str' object does not support item assignment

In [3]:
y = [ 'mike', 45, 2.3]

In [4]:
y[0]

'mike'

In [5]:
y[1]

45

In [6]:
y[:2]

['mike', 45]

In [7]:
y[1] = 47

In [42]:
type(y[2])

float

In [9]:
students = [ 'andy', 'barb', 'chris']

In [10]:
students[1]

'barb'

In [11]:
for ch in 'fudge':
    print(ch)

f
u
d
g
e

In [18]:
students = [ 'andy', 'barb', 'chris']
for student in students[::-1]:
    print ('hello', student)

hello chris
hello barb
hello andy

In [15]:
quizzes = [10, 10, 7, 0, 10]
total = 0
count = 0
for quiz in quizzes:
    print (quiz)
    total = total + quiz
    count = count + 1
    
print('Quiz average',total/count)

10
10
7
0
10
Quiz average 7.4

In [17]:
quizzes = [10, 10, 7, 0, 10]
total = sum(quizzes)
count = len(quizzes)
print('Quiz average',total/count)

Quiz average 7.4

In [22]:
students = [ 'andy', 'barb', 'chris']
type(students)

list

In [20]:
type(student)

str

In [23]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [24]:
students.append('tony')

In [25]:
students

['andy', 'barb', 'chris', 'tony']

In [29]:
students.insert(0, 'devin')

In [30]:
students

['devin', 'andy', 'barb', 'chris', 'tony']

In [31]:
students.insert(2, 'ellie')

In [32]:
students

['devin', 'andy', 'ellie', 'barb', 'chris', 'tony']

In [35]:
students.remove('chris')

In [36]:
students

['devin', 'andy', 'ellie', 'barb', 'tony']

In [37]:
help(students.remove)

Help on built-in function remove:

remove(...) method of builtins.list instance
    L.remove(value) -> None -- remove first occurrence of value.
    Raises ValueError if the value is not present.

In [38]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [43]:
students

['devin', 'andy', 'ellie', 'barb', 'tony']

In [45]:
student = students.pop(-1)

In [46]:
student

'tony'

In [47]:
students

['devin', 'andy', 'ellie', 'barb']

In [48]:
students.sort()

In [53]:
students

['andy', 'barb', 'devin', 'ellie']

In [54]:
students[::-2]

['ellie', 'barb']

In [ ]:
states state