In [17]:
salary = 15.99
person = "Tony"
age = 99

In [19]:
print(salary, int(salary))

15.99 15

In [22]:
print("Salary:", salary)
print("Salary as int:", int(salary))
rounded_up = int(salary) + 0.5
print("Salary rounded up:", rounded_up)

Salary: 15.99
Salary as int: 15
Salary rounded up: 15.5

In [24]:
int(salary + 0.5 )

16

In [13]:
print(age)

99

In [14]:
str(age)

'99'

In [16]:
type(salary)

float

In [25]:
int("15")

15

In [26]:
int("five")

ValueError: invalid literal for int() with base 10: 'five'

In [27]:
int("15.5")

ValueError: invalid literal for int() with base 10: '15.5'

In [28]:
int(float("15.5"))

15

In [29]:
data = "15.5"
print(data)
float_data = float(data)
print(float_data)
int_float = int(float_data)
print(int_float)

15.5
15.5
15

In [30]:
str(34)

'34'

In [32]:
name = "tony"
print("Welcome to hell, %s!!!!" % name )

Welcome to hell, tony!!!!

In [35]:
gpa = 3.8
print("Your GPA is %4.3f is great!" % gpa)

Your GPA is 3.800 is great!

In [50]:
age = int(input("Enter your age: "))
next_year = age + 1
print("You are %d next year you will be %d." % (age, next_year))
print("You are {0:d} next year you will be {1:d}".format(age, next_year))

Enter your age: 56
You are 56 next year you will be 57.
You are 56 next year you will be 57

In [42]:
type(age)

str

In [51]:
gpa = float(input("Enter your gpa: "))
print("Your gpa of {0:.3f} is great!".format(gpa))

Enter your gpa: 4.0
Your gpa of 4.000 is great!